**/node_modules
**/package-lock.json
**/.DS_Store
**/.env
**/.env.production

# 업로드된 이미지파일 제외
**/data/animals/**
**/data/mateTextEditorImg/**
**/data/mateBoardImg/**
backend/.idea/.gitignore
backend/.idea/backend.iml
backend/.idea/modules.xml
backend/.idea/vcs.xml
frontend/.idea/.gitignore
frontend/.idea/frontend.iml
frontend/.idea/modules.xml
frontend/.idea/vcs.xml
